body{
    background-color:white !important;
}
.container1{
    display: inline-block;
    width: 100%;
}
.filter > h3{
    margin-top: 2%;
    color:  #444141;
    margin-left: 1%;
}
.filterContent > h3{
    margin-top: 1%;
    color:  #444141;
    margin-left: 1%;
    float: left;
}
.filter{
    width: 20%;
    height: 500px;
    float: left;
    margin-left: 4%;
    border:2px solid grey;
    margin-top:5%;
}

.filterContent{
    width: 65%;
    float: left;
    margin-left: 1%;
    margin-right: 5%;
    margin-top:5%;
}

.filterContent > p{
    margin-right: 25%;
    float: right;
    margin-top: 2%;
    font-size: 18px;
}


.card{
    box-shadow:10px 20px 10px grey ;
    margin-bottom: 10%;
    float:left;
    width:100%;
    background-color: white;
}
.card > img{
    height: 200px;
    width:100%;
}
.card-body{
    color: #000;
    background-color: white;
}
span {
    background-color: #39d739;
    border-radius: 5px;
    color:white;
}





